// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@font-face
{
  font-family: "Geomanist";
  src: url('../assets/fonts/Geomanist-Thin.eot');
  src: local('../assets/fonts/Geomanist-Thin');
  src: url('../assets/fonts/Geomanist-Thin.svg#../assets/fonts/Geomanist-Thin') format('svg');
  src: url('../assets/fonts/Geomanist-Thin.otf') format('opentype');
}

@font-face
{
  font-family: "Geomanist-Regular";
  src: url('../assets/fonts/Geomanist-Regular.eot');
  src: local('../assets/fonts/Geomanist-Regular');
  src: url('../assets/fonts/Geomanist-Regular.svg#../assets/fonts/Geomanist-Regular') format('svg');
  src: url('../assets/fonts/Geomanist-Regular.otf') format('opentype');
}

@font-face
{
  font-family: "Geomanist-Light";
  src: url('../assets/fonts/Geomanist-Light.eot');
  src: local('../assets/fonts/Geomanist-Light');
  src: url('../assets/fonts/Geomanist-Light.svg#../assets/fonts/Geomanist-Light') format('svg');
  src: url('../assets/fonts/Geomanist-Light.otf') format('opentype');
}

@font-face
{
  font-family: "Geomanist-Medium";
  src: url('../assets/fonts/Geomanist-Medium.eot');
  src: local('../assets/fonts/Geomanist-Medium');
  src: url('../assets/fonts/Geomanist-Medium.svg#../assets/fonts/Geomanist-Medium') format('svg');
  src: url('../assets/fonts/Geomanist-Medium.otf') format('opentype');
}

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";

@import "ionicons";

p { font-family: "Geomanist-Light"; }
h1 { font-family: "Geomanist-Medium"; }

